@font-face {
  font-family: "Myriad Pro Regular";
  src: url("MyriadPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro LightSemiExt";
  src: url("MyriadPro-LightSemiExt.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Semibold";
  src: url("MyriadPro-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue Cyr Light";
  src: url("HelveticaNeueCyr-Light.woff") format("woff");
}

@font-face {
  font-family: "SFUID Light";
  src: url("SFUID-Light.woff") format("woff");
}